mixin contacts()
	.contacts&attributes(attributes)
		iframe.contacts__map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.8734872221858!2d-73.99873798427669!3d40.742809243666365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bb5d001a8d%3A0xffb2ab85c5464ab2!2zMTk4IFcgMjFzdCBTdCwgTmV3IFlvcmssIE5ZIDEwMDExLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1455891406005")

		.contacts__info

			.contacts__info-block
				h3.contacts__title Location
				p.contacts__text
					|198 West 21th Street, New
					br
					|York, NY 10010

			.contacts__info-block
				h3.contacts__title Phone
				p.contacts__text +88 (0) 101 0000000
				p.contacts__text +88 (0) 101 0000000

			.contacts__info-block
				h3.contacts__title Fax
				p.contacts__text +88 (0) 202 0000000
				p.contacts__text +88 (0) 202 0000000

			.contacts__info-block
				h3.contacts__title Email
				p.contacts__text somemail@somemail.com
				p.contacts__text somesecondmail@somemail.com
