mixin footer()
	footer.footer&attributes(attributes)
		.footer__container
			p.footer__copyright
				| &copy; 2016 Coded by Constantine
			a.footer__contact(href='mailto:constantine.kononenko@gmail.com')
				| Email: constantine.kononenko@gmail.com
