include btn

mixin post()
	article.post&attributes(attributes)
		img.post__img(src='img/content/post.jpg' alt='alt')
		h2.post__title This is the title of your post
		p.post__date 14 september 2015
		p.post__text
			| This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
		+btn(class='btn_thin' href='#') Read more
