include btn

mixin post-intro()
	.post-intro&attributes(attributes)

		.post-intro__img

		.post-intro__content
			.post-intro__date 14 september 2015

			h3.post-intro__title Change your space

			p.post-intro__text Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores.

			.post-intro__link
				+btn(class='btn_thin' href='blog.html') Read

