include widget

mixin project()
	article.project&attributes(attributes)
		.project__main
			h2.project__name Nöra
			p.project__info
				| This looks. I want to complexity. That's come to testify to complexity. It's about an object, we kept going and i figured out some basic stuff that acknowledges its very minimalist way beyond the traditions of function from a clutterfree product that form and value on ideas and simplicity. What products have disconnected function of anything of the computer.
			p.project__info All project images by <b>Heydays</b>

			ul.project__list
				li.project__list-item
					img.project__list-img(src='img/content/project-1.jpg' alt='alt')
				li.project__list-item
					img.project__list-img(src='img/content/project-2.jpg' alt='alt')
				li.project__list-item
					img.project__list-img(src='img/content/project-3.jpg' alt='alt')
				li.project__list-item
					img.project__list-img(src='img/content/project-4.jpg' alt='alt')


		.project__sidebar
			+widget
				ul.widget__list
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-1.jpg' alt='alt')
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-2.jpg' alt='alt')
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-3.jpg' alt='alt')
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-4.jpg' alt='alt')
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-5.jpg' alt='alt')
					li.widget__list-item
						a.widget__link(href="#")
							img.widget__img(src='img/content/work-6.jpg' alt='alt')

