mixin services()
	.services&attributes(attributes)
		.services__banner
		.services__info
			h2.services__title Services
			.services__info-block
				p.services__text
					|We’ll work with you to define a strong visual identity. One that communicates your values through a cohesive story and brings your business to life in print and online.
			.services__info-block
				ul.services__list
					li.services__list-item - Branding
					li.services__list-item - Visual Identity
					li.services__list-item - Web &amp; Digital Design
					li.services__list-item - Annual Reports
					li.services__list-item - Books &amp; Brochures
					li.services__list-item - Programs &amp; Editorial
					li.services__list-item - Creative Consultancy
