include btn

mixin social()
	ul.social&attributes(attributes)
		li.social__block
			a.btn.btn_uppercase(href='#') Facebook
		li.social__block
			a.btn.btn_uppercase(href='#') Twitter
		li.social__block
			a.btn.btn_uppercase(href='#') Google
