mixin works()
	ul.works&attributes(attributes)
		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-1.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-2.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-3.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-4.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-5.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-6.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-7.jpg' alt='alt')

		li.works__item
			a.works__link(href='project.html')
				img.works__img(src='img/content/work-8.jpg' alt='alt')
