mixin workers()
	ul.workers&attributes(attributes)
		li.workers__worker
			img.workers__photo(src='img/content/worker-1.jpg' alt='alt')
			.workers__info
				p.workers__profession CEO
				h3.workers__name Tobias Schneider
				p.workers__text
					| Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.

		li.workers__worker
			img.workers__photo(src='img/content/worker-2.jpg' alt='alt')
			.workers__info
				p.workers__profession Designer
				h3.workers__name Jack Knife
				p.workers__text
					| Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.

		li.workers__worker
			img.workers__photo(src='img/content/worker-3.jpg' alt='alt')
			.workers__info
				p.workers__profession Developer
				h3.workers__name Rokki Hall
				p.workers__text
					| Lorem ipsum dolor sit amet, conse tetuer adi piscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore.
