.banner
	position relative
	height 100vh
	background transparent url(../img/content/bg-home.jpg) 0 0 no-repeat
	background-size cover

	&_blog
		height 50vh
		background transparent url(../img/content/bg-blog.jpg) 0 0 no-repeat

	&__content
		position absolute
		top 50%
		width 100%
		transform translateY(-50%)
		text-align center

		+below(mobile)
			padding-x(32px)

