.banner
	position relative
	height 100vh
	background transparent url(../img/content/bg-home.jpg) center 0 no-repeat
	background-size cover

	&_blog
		height 50vh
		background transparent url(../img/content/bg-blog.jpg) center 0 no-repeat
		background-size cover

		+below(mobile)
			display none

	&_work
		height 50vh
		background transparent url(../img/content/bg-work.jpg) center 0 no-repeat
		background-size cover

	&_contact
		height 50vh
		background transparent url(../img/content/bg-contact.jpg) center 0 no-repeat
		background-size cover

	&_about
		height 100vh
		background transparent url(../img/content/bg-about.jpg) center center no-repeat
		background-size cover

	&__content
		position absolute
		top 50%
		width 100%
		transform translateY(-50%)
		text-align center

		+below(mobile)
			padding-x(32px)

	&__btn-down
		position absolute
		top auto
		bottom 50px
		left 0
		right 0
		margin-x(auto)
		display block
		height 60px
		width 60px
		background transparent url(../img/static/arrow-down.png) 0 0 no-repeat
		background-size cover



