.blog-body
	position relative
	max-width 1150px
	margin 80px auto
	padding 64px
	background bg-light

	+below(mobile)
		margin-top 0px
		margin-bottom 100px
		padding-top 100px
		padding-x(32px)

	&__main
		float left
		width 668px

		+below(large)
			width 65%

		+below(mobile)
			float none
			width 100%

	&__sidebar
		float right
		width 296px

		+below(large)
			width 30%

		+below(mobile)
			float none
			width 100%

	&__btn-container
		text-align center
		clear both
