.blog-body
	position relative
	max-width 1150px
	margin 80px auto
	padding 64px
	background bg-light

	&__main
		float left
		width 668px


	&__sidebar
		float right
		width 296px

	&__btn-container
		clear both
