.btn
	display inline-block
	padding 12px 46px
	color main
	font-family font-thin
	font-size 14px
	line-height 32px
	text-decoration none
	text-transform capitalize
	border 1px solid black
	transition(all .2s linear)
	letter-spacing()

	&:hover
		box-shadow(0 2px 4px 0 rgba(0,0,0, .3));

	&_thin
		padding 6px 51px

