.project
	max-width 1150px
	margin 80px auto
	padding 64px
	color black
	background bg-light
	clearfix()

	+below(mobile)
		margin-y(0px)
		padding 32px

	&__main
		float left
		width 665px

		+below(large)
			width 65%

		+below(mobile)
			float none
			width 100%

	&__sidebar
		float right
		width 296px

		+below(large)
			width 30%

		+below(mobile)
			float none
			width 100%

	&__name
		margin-top 18px
		margin-bottom 115px
		font-family font-thick
		font-size 45px
		line-height 1em

		+below(mobile)
			margin-bottom 60px

	&__info
		font-family font-alt
		font-size 20px
		line-height 1.6em

		b
			font-family font-thick

	&__list
		margin-top 100px

	&__list-item
		margin-bottom 12px

	&__list-img
		width 100%


