//text colors
brand = #d4af37			//golden text color
main = #021725			//main dark color
dark = #505d68			//secondary, grey color
darkest = #323d43		//darkest text color
black = #000 			//pure black color
light = #fff			//pure white text color

//bg colors
bg-light = #f9f9f9		//light bg color
bg-dark = #eee			//dark bg color
bg-darkest = #242f35	//darkest topline bg color

//fonts
font-regular = 'open_sansregular', Arial, sans-serif;
font-thin = 'open_sanslight', Arial, sans-serif;
font-thinitalic = 'open_sanslight_italic', Arial, sans-serif;
font-thick = 'open_sanssemibold', Arial, sans-serif;
font-alt = 'cardoregular', Arial, sans-serif;

//size
large = 1200px
mobile = 768px
small = 660px
smallest = 480px
